<div class="banner" id="banner">
	<div id="div1" class="div1">
	<ul>
    	<li><a href="http:www.baidu.com"><img src="/images/1.jpg" /></a></li>
    	<li><a href="javascript:;"><img src="/images/2.jpg" /></a></li>
    	<li><a href="javascript:;"><img src="/images/3.jpg" /></a></li>
    	<li><a href="javascript:;"><img src="/images/4.jpg" /></a></li>
    </ul>
    <ol>
    	<li class="ac">1</li>
    	<li>2</li>
    	<li>3</li>
    	<li>4</li>
    </ol>
    <a href="javascript:;" id="goPrev" class="goPrev"></a>
    <a href="javascript:;" id="goNext" class="goNext"></a>
    </div>
</div>
