<div class="list">
	<p class="p1">首页><span>男款眼镜</span></p>
	<div class="img"></div>
	<div class="box">
		<ul class="left">
			<div class="shoplist">
				<div class="title">材质：</div>
				<ul>
					<li><a href="javacript:;">板材 </a></li>
					<li><a href="javacript:;">金属 </a></li>
					<li><a href="javacript:;">TR</a></li>
					<li><a href="javacript:;">塑钢 </a></li>
					<li><a href="javacript:;">碳纤维</a></li>
					<li><a href="javacript:;">钛架</a></li>
				</ul>
				
			</div>
			<div  class="shoplist">
				  
				<div class="title">大小：</div>
				<ul>
					<li><a href="javacript:;">小框 </a></li>
					<li><a href="javacript:;">中框 </a></li>
					<li><a href="javacript:;">大框</a></li>
				</ul>
				
			</div>
			<div class="shoplist">  
				<div class="title">框型：</div>
				<ul>
					<li><a href="javacript:;">椭圆型 </a></li>
					<li><a href="javacript:;">圆型 </a></li>
					<li><a href="javacript:;">方型</a></li>
				</ul>
				
			</div>
			<div class="shoplist">
				<div class="title">系列</div>
				<ul>
					<li><a href="javascript:;">Mori</a></li>
					<li><a href="javascript:;">Divided</a></li>
					<li><a href="javascript:;">Black</a></li>
					<li><a href="javascript:;">Basic</a></li>
					<li><a href="javascript:;">Retro</a></li>
					<li><a href="javascript:;">Sports</a></li>
					<li><a href="javascript:;">Horm</a></li>
					<li><a href="javascript:;">Carbon fiber</a></li>
					<li class="last"><a href="javascript:;">Alpha</a></li>
				</ul>
				
			</div>
		</ul>
		<ul class="right">
			<div class="shoplist">
				<div class="title">品牌：</div>
				<ul>
					<li><a href="javacript:;">LOHO </a></li>
				</ul>
				
			</div>
			<div  class="shoplist">
				  
				<div class="title">边框：</div>
				<ul>
					<li><a href="javacript:;">全框 </a></li>
					<li><a href="javacript:;">半框 </a></li>
					<li><a href="javacript:;">无框</a></li>
				</ul>
				
			</div>
			<div class="shoplist">
				<div class="title">价格</div>
				<ul>
							<li><a href="javascript:;">100元以下</a></li>
							<li><a href="javascript:;">101-200元</a></li>
							<li><a href="javascript:;">201-400元</a></li>
							<li><a href="javascript:;">401-700元</a></li>
							<li class="last"><a href="javascript:;">701-1100元</a></li>
						</ul>
				
			</div>
			<div class="shoplist">  
				<div class="title" id="colort3">颜色：</div>
				<ul>
							<li><a href="javascript:;">黑色</a></li>
							<li><a href="javascript:;">白色</a></li>
							<li><a href="javascript:;">咖啡色</a></li>
							<li><a href="javascript:;">绿色</a></li>
							<li><a href="javascript:;">蓝色</a></li>
							<li><a href="javascript:;">紫色</a></li>
							<li><a href="javascript:;">红色</a></li>
							<li><a href="javascript:;">黄色</a></li>
							<li><a href="javascript:;">金色</a></li>
							<li><a href="javascript:;">玳瑁色</a></li>
							<li><a href="javascript:;">灰色</a></li>
							<li><a href="javascript:;">黑白色系</a></li>
							<li><a href="javascript:;">彩色系</a></li>
							<li class="last"><a href="javascript:;">花纹系</a></li>
				</ul>
				
			</div>
			
			
		</ul>
	</div>
	<div class="box2">
		<div class="btnbox">
			<ul class="btnbox" id="btnbox">
				<li class="test" id="test1"><a href="javascript:;" id="test11">综合排序</a></li>
				<li class="test" id="test2"><a href="javascript:;" id="test12">销量</a></li>
				<li class="test" id="test3"><a href="javascript:;" id="test13">新品</a></li>
				<li class="test" id="test4"><a href="javascript:;" id="test14">价格</a></li>
			</ul>
		</div>
		<div class="glass">
			
		</div>
	</div>

</list>
