<div id="mainfloor" class="mainfloor">
	<div class="floor"  id="floor1"></div>
	<script type="text/html" id="floor1-template">	
		<p class="title">{{product.title}}</p>
	    <p></p>
		
		<div class="left">
			<div><a href="javascript:;"><img src="{{product.img1}}"/></a></div>
			<ul class="tab">
				<li><a href="javascript:;">{{product.a1}}</a></li>
				<li><a href="javascript:;">{{product.a2}}</a></li>
				<li><a href="javascript:;">{{product.a3}}</a></li>
				<li><a href="javascript:;">{{product.a4}}</a></li>
			</ul>
			<ul class="news">
				<li><a href="javascript:;">{{product.li1}}</a></li>
				<li><a href="javascript:;">{{product.li2}}</a></li>
				<li><a href="javascript:;">{{product.li3}}</a></li>
				<li><a href="javascript:;">{{product.li4}}</a></li>
				<li><a href="javascript:;">{{product.li5}}</a></li>
				<li><a href="javascript:;">{{product.li6}}</a></li>
				<p><a href="javascript:;"></a><a href="javascript:;"></a></p>
			</ul>
		</div>
		<div class="center">
			<a href="javascript:;"><img src="{{product.img2}}"/></a>
		</div>
		<div class="right">
			<ul>
				<li><a href="javascript:;"><img src="{{product.img3}}"/></a></li>
				<li><a href="javascript:;"><img src="{{product.img4}}"/></a></li>
				<li><a href="javascript:;"><img src="{{product.img5}}"/></a></li>
				<li><a href="javascript:;"><img src="{{product.img6}}"/></a></li>
				
			</ul>
		</div>
	</script>	
		
		
	
	<div class="floor" id="floor2"></div>
	<script type="text/html" id="floor2-template">	
		<p class="title">{{product.title}}</p>
	    <p></p>
		
		<div class="left">
			<div><a href="javascript:;"><img src="{{product.img1}}"/></a></div>
			<ul class="tab">
				<li><a href="javascript:;">{{product.a1}}</a></li>
				<li><a href="javascript:;">{{product.a2}}</a></li>
				<li><a href="javascript:;">{{product.a3}}</a></li>
				<li><a href="javascript:;">{{product.a4}}</a></li>
			</ul>
			<ul class="news">
				<li><a href="javascript:;">{{product.li1}}</a></li>
				<li><a href="javascript:;">{{product.li2}}</a></li>
				<li><a href="javascript:;">{{product.li3}}</a></li>
				<li><a href="javascript:;">{{product.li4}}</a></li>
				<li><a href="javascript:;">{{product.li5}}</a></li>
				<li><a href="javascript:;">{{product.li6}}</a></li>
				<p><a href="javascript:;"></a><a href="javascript:;"></a></p>
			</ul>
		</div>
		<div class="center">
			<a href="javascript:;"><img src="{{product.img2}}"/></a>
		</div>
		<div class="right">
			<ul>
				<li><a href="javascript:;"><img src="{{product.img3}}"/></a></li>
				<li><a href="javascript:;"><img src="{{product.img4}}"/></a></li>
				<li><a href="javascript:;"><img src="{{product.img5}}"/></a></li>
				<li><a href="javascript:;"><img src="{{product.img6}}"/></a></li>
				
			</ul>
		</div>
	</script>
	<div class="floor" id="floor3"></div>
	<script type="text/html" id="floor3-template">	
		<p class="title">{{product.title}}</p>
	    <p></p>
		
		<div class="left">
			<div><a href="javascript:;"><img src="{{product.img1}}"/></a></div>
			<ul class="tab">
				<li><a href="javascript:;">{{product.a1}}</a></li>
				<li><a href="javascript:;">{{product.a2}}</a></li>
				<li><a href="javascript:;">{{product.a3}}</a></li>
				<li><a href="javascript:;">{{product.a4}}</a></li>
			</ul>
			<ul class="news">
				<li><a href="javascript:;">{{product.li1}}</a></li>
				<li><a href="javascript:;">{{product.li2}}</a></li>
				<li><a href="javascript:;">{{product.li3}}</a></li>
				<li><a href="javascript:;">{{product.li4}}</a></li>
				<li><a href="javascript:;">{{product.li5}}</a></li>
				<li><a href="javascript:;">{{product.li6}}</a></li>
				<p><a href="javascript:;"></a><a href="javascript:;"></a></p>
			</ul>
		</div>
		<div class="center">
			<a href="javascript:;"><img src="{{product.img2}}"/></a>
		</div>
		<div class="right">
			<ul>
				<li><a href="javascript:;"><img src="{{product.img3}}"/></a></li>
				<li><a href="javascript:;"><img src="{{product.img4}}"/></a></li>
				<li><a href="javascript:;"><img src="{{product.img5}}"/></a></li>
				<li><a href="javascript:;"><img src="{{product.img6}}"/></a></li>
				
			</ul>
		</div>
	</script>
	<div class="floor" id="floor4"></div>
	<script type="text/html" id="floor4-template">	
		<p class="title">{{product.title}}</p>
	    <p></p>
		
		<div class="left">
			<div><a href="javascript:;"><img src="{{product.img1}}"/></a></div>
			<ul class="tab">
				<li><a href="javascript:;">{{product.a1}}</a></li>
				<li><a href="javascript:;">{{product.a2}}</a></li>
				<li><a href="javascript:;">{{product.a3}}</a></li>
				<li><a href="javascript:;">{{product.a4}}</a></li>
			</ul>
			<ul class="news">
				<li><a href="javascript:;">{{product.li1}}</a></li>
				<li><a href="javascript:;">{{product.li2}}</a></li>
				<li><a href="javascript:;">{{product.li3}}</a></li>
				<li><a href="javascript:;">{{product.li4}}</a></li>
				<li><a href="javascript:;">{{product.li5}}</a></li>
				<li><a href="javascript:;">{{product.li6}}</a></li>
				<p><a href="javascript:;"></a><a href="javascript:;"></a></p>
			</ul>
		</div>
		<div class="center">
			<a href="javascript:;"><img src="{{product.img2}}"/></a>
		</div>
		<div class="right">
			<ul>
				<li><a href="javascript:;"><img src="{{product.img3}}"/></a></li>
				<li><a href="javascript:;"><img src="{{product.img4}}"/></a></li>
				<li><a href="javascript:;"><img src="{{product.img5}}"/></a></li>
				<li><a href="javascript:;"><img src="{{product.img6}}"/></a></li>
				
			</ul>
		</div>
	</script>
	<div class="floor" id="floor5"></div>
	<script type="text/html" id="floor5-template">	
		<p class="title">{{product.title}}</p>
	    <p></p>
		
		<div class="left">
			<div><a href="javascript:;"><img src="{{product.img1}}"/></a></div>
			<ul class="tab">
				<li><a href="javascript:;">{{product.a1}}</a></li>
				<li><a href="javascript:;">{{product.a2}}</a></li>
				<li><a href="javascript:;">{{product.a3}}</a></li>
				<li><a href="javascript:;">{{product.a4}}</a></li>
			</ul>
			<ul class="news">
				<li><a href="javascript:;">{{product.li1}}</a></li>
				<li><a href="javascript:;">{{product.li2}}</a></li>
				<li><a href="javascript:;">{{product.li3}}</a></li>
				<li><a href="javascript:;">{{product.li4}}</a></li>
				<li><a href="javascript:;">{{product.li5}}</a></li>
				<li><a href="javascript:;">{{product.li6}}</a></li>
				<p><a href="javascript:;"></a><a href="javascript:;"></a></p>
			</ul>
		</div>
		<div class="center">
			<a href="javascript:;"><img src="{{product.img2}}"/></a>
		</div>
		<div class="right">
			<ul>
				<li><a href="javascript:;"><img src="{{product.img3}}"/></a></li>
				<li><a href="javascript:;"><img src="{{product.img4}}"/></a></li>
				<li><a href="javascript:;"><img src="{{product.img5}}"/></a></li>
				<li><a href="javascript:;"><img src="{{product.img6}}"/></a></li>
				
			</ul>
		</div>
	</script>
	<div class="floor" id="floor6"></div>
	<script type="text/html" id="floor6-template">	
		<p class="title">{{product.title}}</p>
	    <p></p>
		
		<div class="left">
			<div><a href="javascript:;"><img src="{{product.img1}}"/></a></div>
			<ul class="tab">
				<li><a href="javascript:;">{{product.a1}}</a></li>
				<li><a href="javascript:;">{{product.a2}}</a></li>
				<li><a href="javascript:;">{{product.a3}}</a></li>
				<li><a href="javascript:;">{{product.a4}}</a></li>
			</ul>
			<ul class="news">
				<li><a href="javascript:;">{{product.li1}}</a></li>
				<li><a href="javascript:;">{{product.li2}}</a></li>
				<li><a href="javascript:;">{{product.li3}}</a></li>
				<li><a href="javascript:;">{{product.li4}}</a></li>
				<li><a href="javascript:;">{{product.li5}}</a></li>
				<li><a href="javascript:;">{{product.li6}}</a></li>
				<p><a href="javascript:;"></a><a href="javascript:;"></a></p>
			</ul>
		</div>
		<div class="center">
			<a href="javascript:;"><img src="{{product.img2}}"/></a>
		</div>
		<div class="right">
			<ul>
				<li><a href="javascript:;"><img src="{{product.img3}}"/></a></li>
				<li><a href="javascript:;"><img src="{{product.img4}}"/></a></li>
				<li><a href="javascript:;"><img src="{{product.img5}}"/></a></li>
				<li><a href="javascript:;"><img src="{{product.img6}}"/></a></li>
				
			</ul>
		</div>
	</script>
</div>